version: 2.1
orbs:
  # orgs contain basc recipes and reproducible actions (install node, aws, etc.)
  node: circleci/node@5.0.2
  # different jobs are calles later in the workflows sections
jobs:
  build:
    docker:
      # the base image can run most needed actions with orbs
      - image: "cimg/base:stable"
    steps:
      - node/install
      - checkout
      # install dependencies in both apps
      - run:
          name: install front dependencies
          command: |
            cd reactnd-contacts-complete &&  yarn install && yarn run build && cd -
      - run:
          name: install back dependencies
          command: |
            cd reactnd-contacts-server &&  yarn install && yarn run build && cd -
